@{
    Layout = "~/Areas/Dashboard/Views/Shared/_Layout.cshtml";
}


            <h5>Overview</h5>
            <p>Welcome, Trainer! Here you can manage your classes, workout plans, and track member progress.</p>

