@{
    Layout = "~/Areas/Dashboard/Views/Shared/_Layout.cshtml";
}


        <div class="card shadow-sm mt-4 p-4">
            <h5>Overview</h5>
            <p>Welcome, Admin! You can manage all members, trainers, and gym operations here.</p>
        </div>

