@model FitnessManagementSystem.Models.Shift

<form id="addShiftForm">
    <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>

    <div class="row">
        <div class="col-12 mb-3">
            <label asp-for="Name" class="form-label">Shift Name</label>
            <input asp-for="Name" class="form-control" placeholder="e.g., Morning Shift, Evening Shift" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>

        <div class="col-6 mb-3">
            <label asp-for="StartTime" class="form-label">Start Time</label>
            <input asp-for="StartTime" class="form-control" type="time" />
            <span asp-validation-for="StartTime" class="text-danger"></span>
        </div>

        <div class="col-6 mb-3">
            <label asp-for="EndTime" class="form-label">End Time</label>
            <input asp-for="EndTime" class="form-control" type="time" />
            <span asp-validation-for="EndTime" class="text-danger"></span>
        </div>
    </div>

    <div class="text-end mt-3">
        <button type="submit" class="btn btn-primary">Add Shift</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
    </div>
</form>@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
